.headers,header {
    text-align: center; 
    color: #ff0000;;
    height: 120px;
        
}

#head_img {
    margin-right: 15px;
    position: relative;
    top: -92px;
    float: right; 
    
}

.links {
    background-color: rgba(185, 185, 185, 0.527);
    border : 3px ridge;
    height: 45px;
    margin-top: 5px ;
    padding: 5px;
}

.flag {
    width: 40px;
    height: 28px;
    float: left;
    margin: 5px 7px;
}

.article {
    float: left;
    margin-right: 20%;
}

table {
    border: 1px solid black;
    width: 300px;
    
}

td, th {
    text-align: center !important;
    vertical-align: middle;
    border: 1px solid black;
    
}

th {
    background-color: whitesmoke;
}
