/*
    Stylesheet pour la page 'index.html'
*/

h1,h2,h3,h4 {
    text-align: center;
    line-height: 1.1;
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 500;
    color: inherit;
    margin-top: 0px;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 32px;
}

h4 {
    font-size: 24px;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #373a3c;
    margin: 0;
    display: block;
}


/* Style pour la navbar.*/
#navbar {
    background-color: #f7f7f9;
    position: fixed;
    display: block;

    top: 0;
    right: 0;
    left: 0;
    border-radius: 0;
    z-index: 1;

    padding: 8px 16px;
    /* add color #acacae or blue */    
}

#navbar-titre {
    float: left;
    font-size: 16px;
    color: white;
    margin-right: 30px;
    background-color: #08316C;
    border: 1px solid transparent;
    border-radius: 0.25rem; 
    padding: 6px 16px;
    text-decoration-line: none;
    text-decoration-style: solid ;
}

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    float: left;
    display: block;
    margin-block-start: 0px !important;
}

.navbar-nav .nav-link {
    display: block;
    padding-top: 0.425rem;
    padding-bottom: 0.425rem;
}

.navbar-nav .nav-item {
    float: left;

}

.nav-item {
    margin-left: 16px;

}

.nav-link {
    display: block;
    padding-top: 6.8px;
    padding-bottom: 6.8px;
    color: rgb(2, 117,216);
    text-align: left;
    text-decoration-line: none;
    text-decoration-style: solid ;

}

.nav-link:hover {
    color: #373a3c;
}

.form-flag {
    display: block;
    float: right !important;
    height: 38px;
    line-height: 24px;
    margin-top: 0px;


}

.hover_animation > img, .hover_animation > h3{
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);

}

.hover_animation:hover > h3{
	transform: scale(1.05);
	box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .05);
	z-index:2;
}


    .hover_animation > h3{
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);

}

.hover_animation:hover > h3{
	transform: scale(1.05);
	box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .05);
	z-index:2;
}



.form-control {
    
    display: block;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    float: right;

    width: 207px;
    height: 24px;
    margin: 0 5px;

}


.btn {
    background-color: gray; 
    color: black; 
    display: block;
    padding: 6px 50px !important;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
    float: right;
    
    height: 38px !important;
    
}

.form-control:disabled {
    cursor: not-allowed;
    background-color: #eceeef;
    opacity: 1;
}


.btn:disabled {
    cursor: not-allowed;
    opacity: .65;

}


/* ************************************ */



#container {
    vertical-align: middle; 
}

/* Style pour la boîte avec les langues.*/
#flexbox_langues {
    display: flex; 
    justify-content: space-evenly; 
    
    width: 90%;
    padding: 15px;
    margin-left:5%; 
    border-radius: 5px;

    background-color: rgb(236, 236, 236);

    transition: all 0.5s ease;

}

#flexbox_langues:hover {
    background-color: rgb(187, 187, 187);
}

article > img {
    margin: 20px;
}
/* ************************************ */
